@charset "UTF-8";
@layer reset, base, app.base;
.gnnxzG_root{border:var(--tweet-border);width:100%;margin:var(--tweet-quoted-container-margin);cursor:pointer;border-radius:12px;transition-property:background-color,box-shadow;transition-duration:.2s;overflow:hidden}.gnnxzG_root:hover{background-color:var(--tweet-quoted-bg-color-hover)}.gnnxzG_article{box-sizing:inherit;position:relative}
