
.btn-border {
  position: relative;
  padding: 12px 8px;
  border: none;
  border-radius: 999px;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
}

.btn-border::before {
  content: "";
  position: absolute;
  inset: -50%;
  background: conic-gradient(
    transparent 0deg,
    transparent 280deg,
    #5820a6 300deg,
    #4002d1 330deg,
    #cd006a 360deg
  );

  animation: spin 2s linear infinite;
}

.btn-border::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: white;
  border-radius: inherit;
}

.btn-border span {
  position: relative;
  z-index: 2;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.circle {
  width:20px ;
  height: 20px;
  border-radius: 50%;
  z-index: 9;
  background: linear-gradient(
    48deg,
    #1456c0,
    #450156,
    #a80872,
    #0fd8db,
    #eb3434,
    #00520a
  );
  background-size: 300% 300%;
  animation: rotate 4s linear infinite;

}

@keyframes rotate {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*استایل دارک مود باتن*/
.shine-text {
  font-weight: bold;

  background: linear-gradient(
    90deg,
    
    #4e5866 0%,
    #4e5866 35%,
    #ddd 50%,
    #4e5866 65%,
    #4e5866 100%
  );

  background-size: 200% auto;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: shine 3s linear infinite;
}

@keyframes shine {
  from {
    background-position: 200% center;
  }

  to {
    background-position: -200% center;
  }
}

/*استایل متن پااین هیروسکشن*/
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  width: max-content;
  animation: marquee 30s linear infinite;
}
/*استایل بک گراند بیلد*/
@keyframes scrollUp {

  from{
    transform:translateY(0);
  }

  to{
    transform:translateY(-50%);
  }

}

.scroll-slow{
    animation:scrollUp 40s linear infinite;
}

.scroll-medium{
    animation:scrollUp 30s linear infinite;
}

.scroll-fast{
    animation:scrollUp 22s linear infinite;
}

/* انیمیشن مشترک */
@keyframes moveLine {
  from {
    offset-distance: 0%;
  }

  to {
    offset-distance: 100%;
  }
}

/* تنظیمات مشترک */
.cpu-line-1,
.cpu-line-2,
.cpu-line-3,
.cpu-line-4,
.cpu-line-5,
.cpu-line-6 {
  offset-distance: 0%;
  animation-name: moveLine;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  filter: blur(2px);
  transform-box: fill-box;
  transform-origin: center;
}

/* خط اول */
.cpu-line-1 {
  offset-path: path("M 85 49 h 35");
  animation-duration: 2s;
}

/* خط دوم */
.cpu-line-2 {
  offset-path: path("M 145 19 h -22 q -5 0 -5 5 v 18");
  animation-duration: 2.5s;
}

/* خط سوم */
.cpu-line-3 {
  offset-path: path("M 130 73 h -12 q -5 0 -5 -5 v -15");
  animation-duration: 2.8s;
}

/* خط چهارم */
.cpu-line-4 {
  offset-path: path("M 70 35 v -18 q 0 -5 5 -5 h 65 q 5 0 5 5 v 12");
  animation-duration: 3s;
}

/* خط پنجم */
.cpu-line-5 {
  offset-path: path("M 172 33 v 27 q 0 5 -5 5 h -32");
  animation-duration: 2.7s;
}

/* خط ششم */
.cpu-line-6 {
  offset-path: path("M 130 79 h -48 q -5 0 -5 -5 v -11");
  animation-duration: 3.2s;
}






.grid-bg{

position:absolute;

inset:0;

background-image:

linear-gradient(rgba(255,255,255,.12) 1px,transparent 1px),

linear-gradient(90deg,rgba(255,255,255,.12) 1px,transparent 1px);

background-size:20px 20px;

opacity:.4;

}

.custom-scrollbar {
    scrollbar-width: thin; /* فایرفاکس */
    scrollbar-color: #d7e1ee transparent; /* فایرفاکس: رنگ thumb و track */
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px; /* عرض اسکرول‌بار در کروم/سافاری/اج */
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 9999px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #adb6c4;
  }