
.btn-border {
  position: relative;
  padding: 12px 8px;
  border: none;
  border-radius: 999px;
  font-size: 18px;
  font-weight: bold;
  overflow: hidden;
}

.btn-border::before {
  content: "";
  position: absolute;
  inset: -50%;
  background: conic-gradient(
    transparent 0deg,
    transparent 280deg,
    #5820a6 300deg,
    #4002d1 330deg,
    #cd006a 360deg
  );

  animation: spin 2s linear infinite;
}

.btn-border::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: white;
  border-radius: inherit;
}

.btn-border span {
  position: relative;
  z-index: 2;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.circle {
  width:20px ;
  height: 20px;
  border-radius: 50%;
  z-index: 999;
  background: linear-gradient(
    48deg,
    #1456c0,
    #450156,
    #a80872,
    #0fd8db,
    #eb3434,
    #00520a
  );
  background-size: 300% 300%;
  animation: rotate 4s linear infinite;

}

@keyframes rotate {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*استایل دارک مود باتن*/
.shine-text {
  font-weight: bold;

  background: linear-gradient(
    90deg,
    
    #4e5866 0%,
    #4e5866 35%,
    #ddd 50%,
    #4e5866 65%,
    #4e5866 100%
  );

  background-size: 200% auto;

  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  animation: shine 3s linear infinite;
}

@keyframes shine {
  from {
    background-position: 200% center;
  }

  to {
    background-position: -200% center;
  }
}

/*استایل متن پااین هیروسکشن*/
@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  width: max-content;
  animation: marquee 30s linear infinite;
}

